# Environment Configuration
NODE_ENV=development # Options: 'development', 'production'
PORT=8080          # The port your server will listen on
HOST=localhost       # Hostname for the server

# CORS Settings
CORS_ORIGIN="*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="200" # Max number of requests per window per IP

# SQL Database configuration
SQL_HOST=localhost
SQL_PORT=5432
SQL_USER=xxxxx
SQL_PASSWORD=xxxxxxx # Password
SQL_DATABASE=xxxxxxx

# JWT Secrete key

JWT_SECRET=xxxxxxxxxxxxxx

# Encryption Secret
ENC_SECRET=my_secret_key_32_characters_long